* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40pt;
}

.selection-list{

}



button {
  margin: 0, auto;
  width: 150px;
  float: left;
  padding: 15px;
  margin: 15px;
  color: white;
  background-color: #337AB7;
  border-radius: 7px;
}

.gold {

}

.silver {

}

.rose-gold {

}

.black {}

.jet-black{}

.space-gray {}

#request-info {
  text-align: center;
  font-size: 28px;
}

#request-steps {
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.request-step {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 45px;
  border-radius: 50%;
  border-color: green;
  border-style: solid;
}


div[id*="progress"] {
  margin-bottom: 150px;
}

#progress-bar-complete-25, #progress-bar-complete-50, #progress-bar-complete-75 , #progress-bar-complete-100 {
  float: left;
  height: 10px;
  background-color: green;
}

#progress-bar-complete-25{
  width: 25%;
}
#progress-bar-complete-50{
  width: 50%;
}
#progress-bar-complete-75{
  width: 75%;
}
#progress-bar-complete-100{
  width: 100%;
}


#form {
  margin: 30px auto;
  width: 50%;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #5CB85C;
  color: #fff;
  transition: .3s ease background;
}



.location-form {
  margin-left: 20%;
  float: left;
}

.contact-form {
  margin-right: 20%;
  float: right;
}

.submit-request-button {
  font-size: 20px;
  width: 100%;
  float:left;
  clear: both;
  margin-top: 50px;
  margin-left: 25%;
}
