* {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 40pt;
}

.selection-list{

}

button {
  margin: 0, auto;
  width: 100px;
  float: left;
  padding: 15px;
  margin: 15px;
  color: white;
  background-color: navy;
  border-radius: 7px;
}

#request-info {
  text-align: left;
  font-size: 20;
}

#progress-bar-complete-25, #progress-bar-complete-50, #progress-bar-complete-75 , #progress-bar-complete-100 {
  float: left;
  height: 10px;
  background-color: green;
}

#progress-bar-complete-25{
  width: 25%;
}
#progress-bar-complete-50{
  width: 50%;
}
#progress-bar-complete-75{
  width: 75%;
}
#progress-bar-complete-100{
  width: 100%;
}



#location-form, #contact-form {
}
#location-form {
  margin-left: 20%;
  float: left;
}

#contact-form {
  margin-right: 20%;
  float: right;
}

#submit-request-button {
  font-size: 20px;
  width: 500px;
  float:left;
  clear: both;
  margin-top: 50px;
  margin-left: 25%;
}
