#logo img {
  width: 100%;
}

#repair-button {
  margin-top: 1%;
  margin-left: 37%;
  background-color: green;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  border-color: green;
  color: white;
  font-size: 20px;

}

#login {
  margin-top: 1%;
  margin-left: 15%;
  background-color: var(--logo-blue);
  padding: 15px;
  border-radius: 8px;
  border-color: green;
  color: white;
  font-size: 30px;
}

#phone-number {
  color: white;
  font-size: 30px;
  margin-left: 1%;
}

.header {
  background-color: black;
  border-color: red;
  height: 80px;
}
