/*#crack-container {
  height: 3px;

  position: absolute;
}*/

#crack {
  height: 89%;
  width: 100%;
  position: absolute;
}

#blue-speech {
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  width: 50%;
}

#green-speech {
  float: left;
  margin-top: 5%;
  margin-left: 10%;
  width: 50%;
}

#green-speech > img {
  width: 100%;
  margin-bottom: 30%;
}
#blue-speech > img {
  width: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}
